{% import 'base_helper.tmpl' as base with context %}
{% import 'index_helper.tmpl' as index_helper with context %}
{% import 'navbar.tmpl' as navbar with context %}
{{ set_locale(lang) }}
{% extends "base.tmpl" %}

{% set use_navbar = False %}
{% block content %}
<div class="ms-front-container">
{{ navbar.navbar(color=False) }}
    <div class="ms-strip navbar-follow grid-half shadowed" style="padding-bottom:0;">
        <div class="pr-2">
            <h2>{{ index_helper.title() }}</h2>
            <p class="ms-front-jumbo-text">{{ index_helper.description() }}</p>
            <p class="ms-front-cta">{{ index_helper.call_to_action() }}</p>
        </div>
        {{ index_helper.hero() }}
    </div>
</div>
{{ index_helper.extras() }}
<div class="ms-strip thicker grid-thirds">
    {% for post in posts[:3] %}
        <div class="pa-1 ms-posts" style="display:flex; flex-direction:column;">
            <a href="{{ post.permalink() }}"><h4 class="ms-strip-margins">{{ post.title() }}</h4></a>
            <small class="ms-header-text ms-strip-margins">Written on {{ post.formatted_date("MMMM dd, YYYY", date=post.date) }}</small>
            <p style="flex-grow: 1;">{{ post.description() }}</p>
            <p style="text-align: center;">
                <a class="ms-button" href="{{ post.permalink() }}"><i data-feather="book"></i>Read more</a>
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
