{% import 'logo.tmpl' as logo with context %}


{% macro navbar(color=True) %}
<nav class="ms-navbar-container {% if color %}{% else %}transparent{% endif %}" style="z-index:15;position:relative;">
    <div class="ms-navbar">
        <button class = "ms-navbar-menu-button" onclick="toggleZip()">
            <i data-feather="menu">Menu</i>
        </button>
        <a href="{{ blog_url }}" class="ms-navbar-logo">
            {{ logo.logo()}}
        </a>
        <div class="ms-navbar-mobile_togglable">
            <ul class="ms-navbar-links">
                {% for url, text in navigation_links[lang] %}
                    <li><a href="{{ url }}">{{ text }}</a></li>
                {% endfor %}
            </ul>
            <div class="ms-navbar-search">
                <div style="flex-grow: 1;"></div>
                {% if search_form %}{{ search_form }}{% endif %}
            </div>
        </div>
    </div>
</nav>
{% endmacro %}
