{% import 'base_helper.tmpl' as base with context %}
{{ set_locale(lang) }}
{% extends "base.tmpl" %}

{% block title %}{{post.title()}} - {{ blog_title }} Devlog{% endblock %}
{% block og_title %}{{post.title()}} - {{ blog_title }} Devlog{% endblock %}
{% block og_description %}{{ post.description() }}{% endblock %}

{% set use_navbar = True %}
{% block content %}
<style>
.post {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.post-content {
    grid-column-start: 1;
    grid-column-end: 10;
}

.twitter-tweet {
    background: #e3f2fd;
    color: #333333;
    border-left-color: #42a5f5;
    border-left-style: solid;
    border-left-width: 4px;
    padding: 1em .75em;
    font-size: 1.1em;
}

p {
    font-size: 1.05em;
}
img {
    width: 75%;
    margin: auto;
}

@media(max-width:768px) {
    img {
        width: 100%;
    }

    .post {
        display: block;
    }
}
</style>
<div class="ms-strip darker thicker">
    <h1 class="ms-strip-margins">{{ post.title() }}</h1>
    <p>Written on {{ post.formatted_date("MMMM dd, YYYY", date=post.date) }}</p>
    <p>Tags:
        {% for tag in post.tags %}
            <a href="/categories/{{ tag }}/"> {{ tag }}</a>
        {% endfor %}
    </p>
</div>
<div class="ms-strip post">
    <div class="post-content">
        {{ post.text() }}
    </div>
</div>
{% endblock %}